<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" href="style.css">
    <script src="/js/testing.js"></script>
</head>
<body>
    {{>header}}
    Helloooo
    {{title}}
    {{name}}
</body>
</html>